@import "https://www.citizensadvice.org.uk/Static/build/css/site.css";


.wrapper{
    width: 90%;
    margin: 30px auto;
    text-align: center;
}

.wrapper-sideNav{
    width: 90%;
    margin: 20px auto;
    display: block;
}

.main-content__sidebar{
    width: 45%;
    float: left;
}

